
<div class="row">
  <div class="col-md-3">
    <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr>
          <tr></tr>
          <th>name</th>
          <%= @user.name %>
        </tr>
        <tr>
          <th>introduction</th>
          <%= @user.introduction %>
          <%= link_to "Edit",edit_user_path(@user.id) %>
        </tr>
      </tbody>
  </table>
