<div class="container">
   <div class="row">
     <div class="col-md-3">
       <%= render 'books/book', book: @book %>
     </div>
     <div class="col-md-9">
   	  <table class="table user-index">
   	  <table class="table table-sm user-index">
   	  	  <h2>Users</h2>
             <thead>
               <th>image</th>
              <th>name</th>
              <th></th>
  	  	    </thead>
  	  	<tbody>
  	  	  <% @users.each do |user| %>
	  	  	<tr>
	  	  	  <td><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg"%></td>
	  	  	  <td><%= @user.name %></td>
	  	  	  <td><%= link_to "Show", user_path(user.id) %></td>
	  	  	</tr>
  	  	  <% end %>
  	  	</tbody>
  	  </table>
  	</div>
  </div>