<div class="container">
 	<body class="top-page mx-auto">
 	  <div class="top-text">
 		<h1>Welcom to
 		  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
 		  <b>Bookers!!</b>
 		</h1>
 		<p>In
 		  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
 		  <b>Bookers</b>,<br>
 		  	you can share and exchange your opinions , inpresiions , and emotions<br>
 		  	about various books!
 		</p>
 	  </div>

 	</body>
 </div>