<div class="box">

<head>
    <title>Bookers2</title>
</head>




<div class='body'>
  <div class='container'>
<div class="row">
  <div class='top-message '>
<h1>welcome topBookers !!</h1>

<p>In<strong>Bookers</strong>,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about varioius books!</p>


  <div class="btn-wrapper">
      <div class="row">
      <div>
  <div class="btn-wrapper">
      <div class="row">
      <p><a class="sign_in" href="/users/sign_in">Log in</a></p>
    </div>
      <div class="row">
      <p><a class="sign_up" href="/users/sign_up">Sign Up</a></p>
     </div>
   </div>
 </div>
 </div>